<div class="row">
  <div class="col-sm-6 bootcards-cards {{if current '' 'hidden-sm hidden-xs'}}">
    {{daily-section content=model edit=true}}
  </div>
  <div class="col-sm-6 bootcards-cards">
    {{outlet}}
  </div>
</div>
