# Mix artifacts
/_build
/deps
/*.ez

# Generate on crash by the VM
erl_crash.dump

# Ember compiled assets
/priv/static/assets
/priv/static/crossdomain.xml
/priv/static/font
/priv/static/index.html
/priv/static/robots.txt
/priv/static/testem.js
/priv/static/tests/

# Vim
*.swp
