<h2>{{content.label}}</h2>
<ul>
  {{#each content.tasks as |task|}}
    <li>
      <label>
        {{input type="checkbox" checked=task.completed}}
        {{task.label}}
      </label>
    </li>
  {{/each}}
</ul>
