<h2>
  {{content.label}}
  <button type="button" class="btn btn-default btn-sm">
    <i class="fa fa-plus"></i>
  </button>
</h2>
<ul>
  {{#each content.dailyTasks as |task|}}
    <li>
      <label>
        {{input type="checkbox" checked=task.completed}}
        {{task.label}}
      </label>
    </li>
  {{else}}
    <li><label>none</label></li>
  {{/each}}
</ul>
