<div class="panel-heading clearfix">
  <h3 class="panel-title pull-left">{{content.label}}</h3>
  {{#unless edit}}
    {{#link-to 'daily-scrum.section' content class="btn btn-default pull-right"}}
      <i class="fa fa-pencil"></i>
      Edit
    {{/link-to}}
  {{/unless}}
</div>

<div class="panel-body">
  <div class="bootcards-list">
    <div class="panel panel-default">
      <div class="list-group">
        {{#each content.dailyTasks as |task|}}
          <div class="list-group-item">
            <p class="list-group-item-text">{{task.label}}</p>
          </div>
        {{else}}
          <div class="list-group-item">
            <p class="list-group-item-text"><em>None</em></p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="panel-footer">
  <small>TODO</small>
</div>
