<!-- fixed tabbed footer -->
<div class="navbar navbar-default navbar-fixed-bottom">

  <div class="container">

    <div class="bootcards-desktop-footer clearfix">
      <p class="pull-left">Bootcards</p>
    </div>

    <div class="btn-group">
      <a href="#" class="btn btn-default">
        <i class="fa fa-2x fa-dashboard"></i>Dashboard
      </a>
      <a href="starter-template.html" class="btn btn-default active">
        <i class="fa fa-2x fa-users"></i>Contacts
      </a>
      <a href="az-picker.html" class="btn btn-default">
        <i class="fa fa-2x fa-font"></i>AZ Picker
      </a>
    </div>
  </div>

</div><!--footer-->
