<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 id="title">Welcome to Phoenix & Ember.js</h2>
    </div>
    <div class="col-sm-12">
      {{outlet}}
    </div>
  </div>
</div>
