{{#md-backdrop}}
  Button: {{#md-button}}Click Me{{/md-button}}

  <section class="md-whiteframe-z1">
    {{#md-list}}
      <md-divider></md-divider>
      {{#md-list-item class="md-3-line"}}
        <div class="md-list-item-text">
          <h3>Title</h3>
          <h4>Sub-title</h4>
          <p>Hello there...</p>
        </div>
      {{/md-list-item}}
      <md-divider></md-divider>
      {{#md-list-item class="md-3-line"}}
        <div class="md-list-item-text">
          <h3>Title</h3>
          <h4>Sub-title</h4>
          <p>Hello there...</p>
        </div>
      {{/md-list-item}}
      <md-divider></md-divider>
      {{#md-list-item class="md-with-secondary md-clickable"}}
        {{#md-button class="md-no-style"}}
          <div class="md-list-item-inner">
            <p>Hello Bonjour Priviet</p>
          </div>
        {{/md-button}}
        {{#md-button class="md-secondary-container md-fab md-mini"}}
          <i class="fa fa-archive"></i>
        {{/md-button}}
      {{/md-list-item}}
      <md-divider></md-divider>
    {{/md-list}}
  </section>
{{/md-backdrop}}
