<div class="section">
  <div class="row">
    <div class="col-full">
      <ul class="collection">
        <li class="collection-item purple darken-1 white-text">
          <h4>
            Yesterday
            <a class="btn-floating waves-effect waves-light deep-orange darken-1 right"><i class="mdi-content-create"></i></a>
          </h4>
        </li>
        <li class="collection-item blue lighten-5">created talk pull request for one-click provider calls: https://github.com/caring/talk.caring.com/pull/125</li>
        <li class="collection-item blue lighten-5">add confirm dialog for one-click provider calls</li>
        <li class="collection-item blue lighten-5">added rbtrace to Contact and specifically set with gems to load using which gem source</li>
        <li class="collection-item blue lighten-5">automatically gracefully disconnect phone connection after Twilio put it offline</li>
        <li class="collection-item blue lighten-5">log JavaScript errors such as twilio telephony errors along with user description</li>
      </ul>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col-full">
      <ul class="collection">
        <li class="collection-item purple darken-1 white-text">
          <h4>
            Today
            <a class="btn-floating waves-effect waves-light deep-orange darken-1 right"><i class="mdi-content-create"></i></a>
          </h4>
        </li>
        <li class="collection-item blue lighten-5">handle session duration base validity properly to avoid twilio token expiration</li>
        <li class="collection-item blue lighten-5">check with Taurus if login out from agent app is same as from root path</li>
      </ul>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col-full">
      <ul class="collection">
        <li class="collection-item purple darken-1 white-text">
          <h4>
            Impediments
            <a class="btn-floating waves-effect waves-light deep-orange darken-1 right"><i class="mdi-content-create"></i></a>
          </h4>
        </li>
        <li class="collection-item purple lighten-5">none</li>
      </ul>
    </div>
  </div>
</div>
