{{#md-navbar name='Example'}}
  <li>{{#link-to 'index'}}Navbar{{/link-to}}</li>
{{/md-navbar}}

{{#md-card-collapsible}}
  {{#md-collapsible icon="mdi-image-nature" title="Yesterday" active=true}}
    <div class="section">
      <div class="row">
        <div class="col s12">
          <ul class="collection">
            <li class="collection-item">created talk pull request for one-click provider calls: https://github.com/caring/talk.caring.com/pull/125</li>
            <li class="collection-item">add confirm dialog for one-click provider calls</li>
            <li class="collection-item">added rbtrace to Contact and specifically set with gems to load using which gem source</li>
            <li class="collection-item">automatically gracefully disconnect phone connection after Twilio put it offline</li>
            <li class="collection-item">log JavaScript errors such as twilio telephony errors along with user description</li>
          </ul>
        </div>
      </div>
    </div>
  {{/md-collapsible}}

  {{#md-collapsible icon="mdi-image-nature-people" title="Today"}}
    <div class="section">
      <div class="row">
        <div class="col s12">
          <ul class="collection">
            <li class="collection-item">handle session duration base validity properly to avoid twilio token expiration</li>
            <li class="collection-item">check with Taurus if login out from agent app is same as from root path</li>
          </ul>
        </div>
      </div>
    </div>
  {{/md-collapsible}}

  {{#md-collapsible icon="mdi-image-leak-add" title="Impediments"}}
    <div class="section">
      <div class="row">
        <div class="col s12">
          <ul class="collection">
            <li class="collection-item">none</li>
          </ul>
        </div>
      </div>
    </div>
  {{/md-collapsible}}
{{/md-card-collapsible}}

